Add IP address logical type

IP addresses can be much more optimally represented as a 64 bit integer, meaning that it's much more efficient for storage and allowing consumers to do equality or subnet (range) comparisons using long-integer arithmetic.

**Reporter**: [Tristan Stevens](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=tmgstev)

<sub>**Note**: *This issue was originally created as [PARQUET-1363](https://issues.apache.org/jira/browse/PARQUET-1363). Please see the [migration documentation](https://issues.apache.org/jira/browse/PARQUET-2502) for further details.*</sub>

[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1363?#comment-16562055) / @xhochy:
`[~tmgstev]` You would probably need two types: IPv4 and IPv6

[Tristan Stevens](https://issues.apache.org/jira/browse/PARQUET-1363?#comment-16562060):
I guess you've got two options - you could have two types, or you could use the ipv6 representation of ipv4 addresses (i.e. zero padded). My first thought was for one type, but the same argument goes for having both 32 bit integers and 64 bit integers and arguing that the first 2^32 can be represented by zero padding the leading 32 bits!

# Proposed Solution

Store IP addresses using the Iceberg "fixed(16)" type to represent 16-byte binary data.
Reference: https://iceberg.apache.org/spec/#parquet

At the physical layer this translates to the Parquet FIXED_LEN_BYTE_ARRAY(16) type.
Reference: https://parquet.apache.org/docs/file-format/types/

IPv4 addresses will be stored in 4 bytes, preceded by a 16-bit FFFF block and leading zeroes to fill the 16-byte format:
    192.0.2.1 → 00000000 00000000 0000FFFF C0000201

IPv6 will be stored as its native 16-byte representation.
    2001:db8::1 → 20010DB8 00000000 00000000 00000001

The proposed approach aligns with RFC 4291 Section 2.5.5.2, supporting IPv4-mapped IPv6 addresses.
Reference: https://datatracker.ietf.org/doc/html/rfc4291.html#section-2.5.5.2

In our project, we are rethinking our own storage of IP addresses in Parquet, looking for a representation that might be more upstreamable.

Our current implementation maximizes compatibility with Postgres, and simply stores a postgres struct (basically https://doxygen.postgresql.org/structinet__struct.html )  in a Parquet BYTE_ARRAY.
We're looking at a representation that ideally preserves those characteristics:
* unified type for IPv4 and IPv6: application code is much simpler when you don't need different types for these.
* subnet mask length: really handy for those address-in-subnet checks.
* address family flag: while one could pack IPv4 addresses as zero-padded IPv6 addresses, it would be certainly nice to avoid the shim code to adapt the values to/from application code.

We *could* just stick with what we have, but feel like we *should* be able to do better than just dumping in a Postgres `struct`.

Anyway, we wanted to see if anyone else had strong opinions, and this Github issue seems to be where it's at.